---
layout: default
---
<h2>2023-10-23</h2>
      <p>
        <img src="/images/2023/10/20231023.png" alt="2023-10-23 Dashboard mit den Zahlen für München. Drei Graphen. Erste zeigt Neu- und Nachmeldungen, klar fallende Tendenz. Zweite zeigt R(t) Wert für München, der weiter auf 0,81 sinkt. Dritte zeigt Inzidenz, die jetzt wieder deutlich unter 50 liegt und weiter fällt, aber wegen kaum noch gemachten Tests keine wirkliche Aussagekraft hat." />
      </p>
      <h2>Tages- und Wochenberichte</h2>
{%- for post in paginator.posts -%}
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <div class="content">
        {{ post.excerpt | strip_html | normalize_whitespace | truncate: 300 | escape }}
      </div>
      <hr />
{%- endfor -%}
{%- if paginator.total_pages > 1 -%}
      <div class="pagination" style="text-align: center; display: block">
{%- if paginator.previous_page -%}
        <a class="btn" style="background-color: #155799" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr;</a>
{%- else -%}
        <span class="btn" style="background-color: #CCCCCC" >&larr;</span>
{%- endif -%}
{%- for page in (1..paginator.total_pages) -%}
  {%- if page == paginator.page -%}
        <span class="btn" style="background-color: #AAAAAA"><u>{{ page }}</u></span>
  {%- elsif page == 1 -%}
        <a class="btn" style="background-color: #155799" href="{{ '/' | relative_url }}">{{ page }}</a>
  {%- else -%}
        <a class="btn" style="background-color: #155799" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
  {%- endif -%}
{%- endfor -%}
{%- if paginator.next_page -%}
        <a class="btn" style="background-color: #155799" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&rarr;</a>
{%- else -%}
        <span class="btn" style="background-color: #CCCCCC">&rarr;</span>
{%- endif -%}
      </div>
{%- endif -%}
      <h2 id="weitere-links">Weitere Links</h2>
      <ul>
        <li><a rel="me" href="https://muenchen.social/@CoronaMUC">@CoronaMUC</a> auf Mastodon folgen</li>
        <li><a href="https://twitter.com/CoronaMUC">@CoronaMUC</a> auf Twitter folgen</li>
        <li>Unser <a href="https://infogram.com/coronamuc-1h8n6m35mnndz4x?live">Dashboard</a></li>
        <li>Unsere <a href="/sources/">Quellen</a></li>
      </ul>