<h2>Kommentare</h2>
<noscript>
  <div id="error">Please enable JavaScript to view the comments powered by ActivityPub and the Fediverse.</div>
</noscript>
<p>
  Man kann diesen Beitrag kommentieren, indem man auf <a class="link"
  href="https://{{ page.comments.host }}/@{{ page.comments.username }}/{{ page.comments.id }}">diesem Post</a> mit seinem ActivityPub Account (z.B. Mastodon, Pixelfed, PeerTube und weitere) antwortet.
    
</p>
<p class="comments" id="comments-list"></p>
<script src="/js/purify.min.js"></script>
<script type="text/javascript">
  var host = '{{ page.comments.host}}';
  var user = '{{ page.comments.username }}';
  var id   = '{{ .page.comments.id }}'

  function escapeHtml(unsafe) {
    return unsafe
      .replace(/&/g, "&amp;")
      .replace(/</g, "&lt;")
      .replace(/>/g, "&gt;")
      .replace(/"/g, "&quot;")
      .replace(/'/g, "&#039;");
  }

  var commentsLoaded = false;

  function toot_active(toot, what) {
    var count = toot[what+'_count'];
    return count > 0 ? 'active' : '';
  }

  function toot_count(toot, what) {
    var count = toot[what+'_count'];
    return count > 0 ? count : '';
  }

  function user_account(account) {
    var result =`@${account.acct}`;
    if (account.acct.indexOf('@') === -1) {
      var domain = new URL(account.url)
      result += `@${domain.hostname}`
    }
    return result;
  }

  function render_toots(toots, in_reply_to, depth) {
    var tootsToRender = toots.filter(toot => toot.in_reply_to_id === in_reply_to);
    tootsToRender.forEach(toot => render_toot(toots, toot, depth));
  }

  function render_toot(toots, toot, depth) {
    toot.account.display_name = escapeHtml(toot.account.display_name);
    toot.account.emojis.forEach(emoji => {
      toot.account.display_name = toot.account.display_name.replace(`:${emoji.shortcode}:`, `<img src="${escapeHtml(emoji.static_url)}" alt="Emoji ${emoji.shortcode}" height="20" width="20" />`);
    });
    mastodonComment =
    `<div class="comment" style="margin-left: calc(var(--comment-indent) * ${depth})">
      <div class="comment_avatar-wrapper">
        <img class="comment_avatar" src="${escapeHtml(toot.account.avatar_static)}" height=60 width=60 alt="">
      </div>
      <div class="comment_content-wrapper">
        <div class="comment_author">
            <a class="comment_name" href="${toot.account.url}" rel="nofollow">${toot.account.display_name}</a>
        </div>
        <a class="comment_date" href="${toot.url}" rel="nofollow">${toot.created_at.substr(0, 10)} ${toot.created_at.substr(11, 8)}</a>
        <div class="comment_content">${toot.content}</div>
      </div>
    </div>`;
    document.getElementById('comments-list').appendChild(DOMPurify.sanitize(mastodonComment, {'RETURN_DOM_FRAGMENT': true}));

    render_toots(toots, toot.id, depth + 1)
  }

  function loadComments() {
    if (commentsLoaded) return;

    document.getElementById("comments-list").innerHTML = "Hole Kommentare aus dem  Fediverse...";

    fetch('https://' + host + '/api/v1/statuses/' + id + '/context')
      .then(function(response) {
        return response.json();
      })
      .then(function(data) {
        if(data['descendants'] && Array.isArray(data['descendants']) && data['descendants'].length > 0) {
            document.getElementById('comments-list').innerHTML = "";
            render_toots(data['descendants'], id, 0)
        } else {
          document.getElementById('comments-list').innerHTML = "<p>(Noch) keine Kommentare vorhanden!</p>";
        }

        commentsLoaded = true;
      });
  }

  function respondToVisibility(element, callback) {
    var options = {
      root: null,
    };

    var observer = new IntersectionObserver((entries, observer) => {
      entries.forEach(entry => {
        if (entry.intersectionRatio > 0) {
          callback();
        }
      });
    }, options);

    observer.observe(element);
  }

  var comments = document.getElementById("comments-list");
  respondToVisibility(comments, loadComments);
</script>