.comments {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right:0;
  display: block;
  box-sizing: border-box;
}

.comment {
  background-color: $code-bg-color;
  clear: both;
  width: 100%;
  margin: 1em 0;
  box-sizing: border-box;
  &:not(:last-child) {
     border-bottom: 1px solid $border-color;
  }
}

.comment::after {
  clear: both;
  content: "";
  display: table;
}

.comment_avatar-wrapper {
  float: left;
  width: 100px;
  height: 100px;
  display: block;
}
  
@media (min-width: 64em) {
  .comment_avatar-wrapper {
    width: 100px;
    height:100px;
    display: block;
  }
}

.comment_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@media (min-width: 64em) {
  .comment_avatar {
      width: 80px;
      height: 80px;
      padding: 5px;
      border:1px solid #f2f3f3
  }
}

.comment_content-wrapper {
  float: right;
  width: calc(100% - 100px);
}

.comment_content {
  margin: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  display: block;
}

.comment_author {
  margin: 0;
  font-weight: bold;
  a {
    text-decoration: none;
  }
}

.comment_date {
  margin: 0;

  a {
    text-decoration: none;
  }
}

.comment_status-wrapper {
  margin: 0;
  width: 100%;
  display: block;
}

.comment_status {
  margin: 0;
}
