<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-UK" }}">
  <head>
    <meta charset="UTF-8">
    <link rel="alternate" type="application/atom+xml" title="CoronaMUC feed" href="/feed.xml">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script data-goatcounter="https://cmuc.goatcounter.com/count" async src="/js/gc.js"></script>
  </head>
  <body>
    <a id="skip-to-content" href="#content">Weiter zum Inhalt.</a>
    <header class="page-header" role="banner">
{%- if paginator.page == nil -%}
      <h3><a href="{{ site.url }}" style="color: #FFFFFF" >{{ site.title }}</a></h3>
{%- endif -%}
      <h1 class="project-name">{{ page.title | default: site.title }}</h1>
      <h2 class="project-tagline">{{ site.description }}</h2>
      <a href="/sources/" class="btn">Quellen</a>
      <a href="/impressum/" class="btn">Impressum</a>
    </header>
    <main id="content" class="main-content" role="main">
      {{ content }}

      {%- if page.comments -%}
        {%- include comments.html -%}
      {%- endif -%}

    </main>
    <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://codeberg.org/jwildeboer/coronamucsource">Repository</a> &#183; <a href="/sources/">Quellen für Zahlen</a> &#183; <a href="/impressum/">Impressum</a> &#183; <a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}">{{ site.data.ui-text[site.locale].feed_label | default: "Atom Feed" }}</a></span>
        <span class="site-footer-owner"><a href="/">https://coronamuc.de</a> wird von <a href="https://codeberg.org/jwildeboer">Jan Wildeboer</a> angeboten.</span>
        <span class="site-footer-credits">This page is proudly hosted by <a href="https://codeberg.page"><img width="20" height="20" src="/images/codeberg-logo_icon_blue.svg" style="vertical-align: sub;"> Codeberg Pages</a>.</span>
      </footer>
  </body>
</html>